<% provide(:titulo, "Autentique-se") %>

<%= form_for(:session, url: sessions_path) do |f| %>

	<%= f.label :nome, "Usuário" %>
	<%= f.text_field :nome %><br>

	<%= f.label :password, "Senha" %>
	<%= f.password_field :password %><br>

	<%= f.submit "Entrar" %>

<% end %>
