	<%= render 'shared/error_messages' %>

	<%= f.label :nome %>
	<%= f.text_field :nome %><br>

	<%= f.label :rg, "RG" %>
	<%= f.text_field :rg %><br>

	<%= f.label :cpf, "CPF" %>
	<%= f.text_field :cpf %><br>

	<%= f.label :data_nasc, "Data de nascimento" %>
	<%= f.text_field :data_nasc,
		value: @pessoa.data_nasc ? @pessoa.data_nasc.to_s(:data_abreviada) : "" %><br>

	<%= f.label :pai, "Nome do pai" %>
	<%= f.text_field :pai %><br>

	<%= f.label :mae, "Nome da mãe" %>
	<%= f.text_field :mae %><br>

	<%= f.label :endereco, "Endereço" %>
	<%= f.text_field :endereco %><br>

	<%= f.label :numero, "Número" %>
	<%= f.text_field :numero %><br>

	<%= f.label :complemento %>
	<%= f.text_field :complemento %><br>

	<%= f.label :bairro %>
	<%= f.text_field :bairro %><br>

	<%= f.label :cidade %>
	<%= f.text_field :cidade %><br>

	<%= f.label :estado %>
	<%= f.text_field :estado %><br>

	<%= f.label :telefone %>
	<%= f.text_field :telefone %><br>

	<%= f.label :cid, "CID" %>
	<%= f.text_field :cid %><br>

	<%= f.label :descr_deficiencia, "Descrição da deficiência" %>
	<%= f.text_field :descr_deficiencia %><br>

	<%= f.label :emissor_laudo, "Emissor do laudo" %>
	<%= f.text_field :emissor_laudo %><br>

	<%= f.label :registro_emissor, "Registro do emissor" %>
	<%= f.text_field :registro_emissor %><br>

	<%= f.label :data_laudo, "Data do laudo" %>
	<%= f.text_field :data_laudo,
		value: @pessoa.data_laudo ? @pessoa.data_laudo.to_s(:data_abreviada) : "" %><br>

	<%= f.label :data_expiracao, "Data vencimento" %>
		<%= f.text_field :data_expiracao,
			value: @pessoa.data_expiracao ? @pessoa.data_expiracao.to_s(:data_abreviada) : "" %><br>

	<%= f.label :acompanhante, "Acompanhante autorizado:" %>
	<%= f.check_box :acompanhante, :onclick => "acompanhantePessoaCheckboxClick(event, this)" %><br>
	<% acompanhantesContainerDisplay = @pessoa.data_expiracao ? 'block' : 'none' %>
		Dados Acompanhante

		<%= f.label :acomp_nome, "Nome" %>
			<%= f.text_field :acomp_nome %><br>