<% provide :titulo, "Pessoas (Novo)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", pessoas_path %></li>
	<li><%= link_to "Adicionar", new_pessoa_path %></li>
<% end %>
<%= form_for(@pessoa) do |f| %>

	<%= render 'campos', f: f %>
	
	<br>
	<%= f.submit "Gravar" %>
	<%= link_to "Cancelar", pessoas_path %>
<% end %>