# encoding: UTF-8

<% provide :titulo, "Pessoas (Detalhes)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", pessoas_path %></li>
	<li><%= link_to "Adicionar", new_pessoa_path %></li>
	<li><%= link_to "Excluir", @pessoa, method: :delete,
		data: { confirm: "Tem certeza que deseja excluir '#{@pessoa.nome}'?" } %></li>
	<li><%= link_to "Alterar", edit_pessoa_path(params[:id]) %></li>
	<li><%= link_to "Imprimir", pessoa_path(@pessoa.id, format: "pdf") %></li>
<% end %>

Nome: <%= @pessoa.nome %><br>
RG: <%= @pessoa.rg %><br>
CPF: <%= @pessoa.cpf %><br>
Data de Nascimento: <%= @pessoa.data_nasc.to_s(:data_abreviada) %><br>
Nome do Pai: <%= @pessoa.pai %><br>
Nome da Mãe: <%= @pessoa.mae %><br>
Endereço: <%= @pessoa.endereco %><br>
Número: <%= @pessoa.numero %><br>
Complemento: <%= @pessoa.complemento %><br>
Bairro: <%= @pessoa.bairro %><br>
Cidade: <%= @pessoa.cidade %><br>
Estado: <%= @pessoa.estado %><br>
Telefone: <%= @pessoa.telefone %><br>
CID: <%= @pessoa.cid %><br>
Descrição da Deficiência: <%= @pessoa.descr_deficiencia %><br>
Emissor do Laudo: <%= @pessoa.emissor_laudo %><br>
Registro do Emissor: <%= @pessoa.registro_emissor %><br>
Data do Laudo: <%= @pessoa.data_laudo.to_s(:data_abreviada) %><br>
Acompanhante autorizado: <%= (@pessoa.acompanhante? ? 'Sim' : 'Não') %><br>

<% if @pessoa.acompanhante? %>
	Dados Acompanhante <br>
	Nome: <%= @pessoa.acomp_nome %><br>
<% end %>

Última Alteração/emissão: <%= @pessoa.updated_at.to_s(:data_abreviada) %><br>
Valido até: <%= @pessoa.getDataExpiracao %>