<% provide :titulo, "Usuários (Alteração)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", usuarios_path %></li>
	<li><%= link_to "Adicionar", new_usuario_path %></li>
<% end %>

<%= form_for(@usuario) do |f| %>

	<%= render 'error_messages' %>

	<%=  f.label :nome %>
	<%=  f.text_field :nome %><br>

	<%= f.label :nome_completo %>
	<%= f.text_field :nome_completo %><br>

	<%= f.label :password %>
	<%= f.password_field :password %><br>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %><br>

	<%= f.submit "Atualizar usuário" %>
	<%= link_to "Cancelar", @usuario %>
<% end %>