<% provide :titulo, "Usuários (Novo)" %>
<% content_for :botoes do %>
	<li><%= link_to "Listar", usuarios_path %></li>
	<li><%= link_to "Adicionar", new_usuario_path %></li>
<% end %>

<%= form_for(@usuario) do |f| %>
	<%= render 'error_messages' %>

	<%= f.label :nome %>
	<%= f.text_field :nome %><br>

	<%= f.label :nome_completo, "Nome Completo" %>
	<%= f.text_field :nome_completo %><br>

	<%= f.label :password, "Senha" %>
	<%= f.password_field :password %><br>

	<%= f.label :password_confirmation, "Confimar senha" %>
	<%= f.password_field :password_confirmation %><br>

	<%= f.submit "Criar usuário" %>
	<%= link_to "Cancelar", usuarios_path %>
<% end %>


