<!DOCTYPE html>
<html>
<head>
  <title>Passe Livre</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/cabecalho' %>

<h1><%= yield :titulo %></h1>

<div class="navbar navbar-inner"><ul class="nav"><%= yield :botoes %></ul></div>

<div>
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
	<% end %>
</div>
<div class="container">
	<%= yield %>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
